# Redis
### Store cars data

#### Install needed to run Redis

In [ ]:
#!pip install redis

In [ ]:
#!pip install flask-bootstrap

#### Preparing the data

In [1]:
import pandas as pd

In [2]:
df_carList = pd.read_csv("./datasets/Car_listings.csv", delimiter=",")
df_carList.head(1)

   Price  Year  Mileage     City State                Vin   Make       Model
0   8995  2014    35725  El Paso    TX  19VDE2E53EE000083  Acura  ILX6-Speed

We can see that this dataset has a Price column, which we don't need, beacuse this is a rental company where customers doesn't buy the cars. Because of this we remove the Price column:

In [3]:
df_carList = df_carList.drop(['Price'], axis = 1)
df_carList.head(1)

   Year  Mileage     City State                Vin   Make       Model
0  2014    35725  El Paso    TX  19VDE2E53EE000083  Acura  ILX6-Speed

#### We need to convert the csv file to JSON, so that we can store the data in redis

In [4]:
df_carList.to_json('./datasets/cars.json', orient='split', compression='infer', index='true')

In [5]:
df = pd.read_json('./datasets/cars.json', orient ='split', compression = 'infer')

In [6]:
df

,Year,Mileage,City,State,Vin,Make,Model
0,2014,35725,El Paso,TX,19VDE2E53EE000083,Acura,ILX6-Speed
1,2013,19606,Long Island City,NY,19VDE1F52DE012636,Acura,ILX5-Speed
2,2013,48851,El Paso,TX,19VDE2E52DE000025,Acura,ILX6-Speed
3,2014,39922,Windsor,CO,19VDE1F71EE003817,Acura,ILX5-Speed
4,2016,22142,Lindon,UT,19UDE2F32GA001284,Acura,ILXAutomatic
...,...,...,...,...,...,...,...
852117,2017,9,Culver City,CA,YV1A22MK9H1013237,Volvo,S90T6
852118,2017,3201,Englewood,NJ,YV4A22PL3H1186162,Volvo,XC90T6
852119,2016,28941,Fort Collins,CO,YV4A22PL4G1000868,Volvo,XC90AWD
852120,2017,3005,San Leandro,CA,YV4A22NLXH1006162,Volvo,V90
852121,2017,2502,New York,NY,YV4BC0ZX1H1109845,Volvo,XC90T8

In [7]:
import redis
import json
import time

In [8]:
r = redis.Redis(db=2)

In [9]:
with open('./datasets/cars.json') as json_file:
    data = json.load(json_file)
 
    # Print the type of data variable
    #print("Type:", type(data))
    
    #print("ITEMS: ", data.items())
      
    # Print the data of dictionary
    #print("\nData:", data['data'][0]['ID IPEDS Occupation Parent'])
    print("\nData:", data['data'][0])

Data: [2014, 35725, 'El Paso', ' TX', '19VDE2E53EE000083', 'Acura', 'ILX6-Speed']

In [10]:
# Loop og give hver værdi en key som er deres kolonne navn
columns = list(df)
listOfDict = []

def smallDictFunction(co: [], di: {}) -> {}:
    smallDicts = {}
    for c in co:
        for d in di:
            if (columns.index(c) == dic.index(d)):
                #print(c + ': ' + str(d))
                #print(d)
                smallDicts[c] = d
        
    return smallDicts
   

for dic in data['data']:
    listOfDict.append(smallDictFunction(columns, dic))
    if (data['data'].index(dic)+1 == 5):
        break    # break here


#print(test())
#print(smallDicts)
print(listOfDict)
#print(fullDict)

[{'Year': 2014, 'Mileage': 35725, 'City': 'El Paso', 'State': ' TX', 'Vin': '19VDE2E53EE000083', 'Make': 'Acura', 'Model': 'ILX6-Speed'}, {'Year': 2013, 'Mileage': 19606, 'City': 'Long Island City', 'State': ' NY', 'Vin': '19VDE1F52DE012636', 'Make': 'Acura', 'Model': 'ILX5-Speed'}, {'Year': 2013, 'Mileage': 48851, 'City': 'El Paso', 'State': ' TX', 'Vin': '19VDE2E52DE000025', 'Make': 'Acura', 'Model': 'ILX6-Speed'}, {'Year': 2014, 'Mileage': 39922, 'City': 'Windsor', 'State': ' CO', 'Vin': '19VDE1F71EE003817', 'Make': 'Acura', 'Model': 'ILX5-Speed'}, {'Year': 2016, 'Mileage': 22142, 'City': 'Lindon', 'State': ' UT', 'Vin': '19UDE2F32GA001284', 'Make': 'Acura', 'Model': 'ILXAutomatic'}]

In [11]:
index_list = [*range(1, (len(listOfDict)+1), 1)]
index_list

[1, 2, 3, 4, 5]

In [12]:
fullDict = dict(zip(index_list, listOfDict))
print(fullDict)

{1: {'Year': 2014, 'Mileage': 35725, 'City': 'El Paso', 'State': ' TX', 'Vin': '19VDE2E53EE000083', 'Make': 'Acura', 'Model': 'ILX6-Speed'}, 2: {'Year': 2013, 'Mileage': 19606, 'City': 'Long Island City', 'State': ' NY', 'Vin': '19VDE1F52DE012636', 'Make': 'Acura', 'Model': 'ILX5-Speed'}, 3: {'Year': 2013, 'Mileage': 48851, 'City': 'El Paso', 'State': ' TX', 'Vin': '19VDE2E52DE000025', 'Make': 'Acura', 'Model': 'ILX6-Speed'}, 4: {'Year': 2014, 'Mileage': 39922, 'City': 'Windsor', 'State': ' CO', 'Vin': '19VDE1F71EE003817', 'Make': 'Acura', 'Model': 'ILX5-Speed'}, 5: {'Year': 2016, 'Mileage': 22142, 'City': 'Lindon', 'State': ' UT', 'Vin': '19UDE2F32GA001284', 'Make': 'Acura', 'Model': 'ILXAutomatic'}}

In [13]:
with open("./datasets/carsDict.json", "w") as write_file:
    json.dump(fullDict, write_file, indent=4)

In [14]:
with open('./datasets/carsDict.json') as json_file:
    data = json.load(json_file)

In [15]:
with r.pipeline() as pipe:
    for dic in data:
        #print(dic)
        #print(data[dic])
        pipe.hmset(dic, data[dic])
        pipe.execute()
r.bgsave()

C:\Users\miade\AppData\Local\Temp/ipykernel_3344/3408369710.py:5: DeprecationWarning: Pipeline.hmset() is deprecated. Use Pipeline.hset() instead.
  pipe.hmset(dic, data[dic])

True

In [16]:
print(r.hgetall("0"))
print(r.hgetall("1"))
print(r.hgetall("5"))

{}
{b'Year': b'2014', b'Mileage': b'35725', b'City': b'El Paso', b'State': b' TX', b'Vin': b'19VDE2E53EE000083', b'Make': b'Acura', b'Model': b'ILX6-Speed'}
{b'Year': b'2016', b'Mileage': b'22142', b'City': b'Lindon', b'State': b' UT', b'Vin': b'19UDE2F32GA001284', b'Make': b'Acura', b'Model': b'ILXAutomatic'}

In [19]:
%%writefile application.py

from flask import Flask, request, jsonify, render_template
import redis
import json
import time
import pandas as pd

app = Flask(__name__, template_folder='hmtl_documents')

# ---------------- THE CODE -------------------------
df_carList = pd.read_csv("./datasets/Car_listings.csv", delimiter=",")
df_carList = df_carList.drop(['Price'], axis = 1)

df_carList.to_json('./datasets/cars.json', orient='split', compression='infer', index='true')
df = pd.read_json('./datasets/cars.json', orient ='split', compression = 'infer')

r = redis.Redis(db=1)

with open('./datasets/cars.json') as json_file:
    data = json.load(json_file)
    
# Loop og give hver værdi en key som er deres kolonne navn
columns = list(df)
listOfDict = []

def smallDictFunction(co: [], di: {}) -> {}:
    smallDicts = {}
    for c in co:
        for d in di:
            if (columns.index(c) == dic.index(d)):
                smallDicts[c] = d
    return smallDicts
   
for dic in data['data']:
    listOfDict.append(smallDictFunction(columns, dic))
    if (data['data'].index(dic)+1 == 5):
        break    # break here

index_list = [*range(1, (len(listOfDict)+1), 1)]
fullDict = dict(zip(index_list, listOfDict))

with open("./datasets/carsDict.json", "w") as write_file:
    json.dump(fullDict, write_file, indent=4)

with open('./datasets/carsDict.json') as json_file:
    data = json.load(json_file)

with r.pipeline() as pipe:
    for dic in data:
        #print(dic)
        #print(data[dic])
        pipe.hmset(dic, data[dic])
        pipe.execute()
r.bgsave()

def getData(n1, n2):
    dataList = []
    tic = time.perf_counter()
    for n in range(int(n1), int(n2)+1):
        #print(n)
        #print(r.hgetall(str(n)))
        d = r.hgetall(str(n))
        dataList.append(d)
    toc = time.perf_counter()
    dataList.append(toc - tic)
    return dataList

def getAttributes():
    tic = time.perf_counter()
    unPrettyList = list(r.hgetall('1'))
    toc = time.perf_counter()
    prettyList = []
    for s in unPrettyList:
        txt = str(s).split("'")
        prettyList.append(txt[1])
    time2 = toc - tic
    prettyList.append(time2)
    return prettyList

def getBySpecificAtt(n, s):
    tic = time.perf_counter()
    string = r.hget(n,s)
    toc = time.perf_counter()
    time2 = toc - tic
    txt = str(string).split("'")
    
    dataList = []
    dataList.append(txt[1])
    dataList.append(time2)
    return dataList


# ---------------- THE ENDPOINTS --------------------
@app.route('/')
def start():
    attributes = getAttributes()
    
    return render_template('start.html', attributes=attributes[1:-1], time=attributes[-1])

@app.route('/data', methods=['GET', 'POST'])
def data():
    if request.method == 'POST':
        n1 = request.form['n1']
        n2 = request.form['n2']
        data = getData(n1, n2)
          
        return render_template("data.html", data=data[int(n1):int(n2)], time=data[-1])
    
@app.route('/specificData', methods=['GET', 'POST'])
def specificData():
    if request.method == 'POST':
        n = request.form['n']
        s = request.form['s']
        data = getBySpecificAtt(n, s)
          
        return render_template("specificData.html", data=data[0], time=data[1])

@app.route('/redis', methods=['GET', 'POST'])
def predict():
    if request.method == 'GET':
        data = request.data
    return render_template('redis.html', carsDict=data)

if __name__ == '__main__':
    app.run(debug=True)

Overwriting application.py

http://localhost:5000/

In [20]:
!python application.py

^C